Flask==3.0.3
gunicorn==21.2.0
python-dotenv==1.0.1

langchain==0.3.9
langchain-community==0.3.6
langchain-core==0.3.20
langchain-pinecone==0.2.0
langchain-text-splitters==0.3.0

huggingface_hub==0.20.3
faiss-cpu==1.7.4
tiktoken==0.7.0

SQLAlchemy==2.0.25
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3

pinecone-client==3.0.2