Flask==3.0.3
gunicorn==21.2.0
python-dotenv==1.0.1

langchain==0.0.353
langchain-community==0.0.20

huggingface_hub==0.20.3
faiss-cpu==1.7.4
tiktoken==0.5.2

SQLAlchemy==2.0.25
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3