<!DOCTYPE html>
<html>
<head>
    <title>Medical AI Assistant</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>

<div class="app">

    <!-- Sidebar -->
    <div class="sidebar">
    <div class="user-section">
        <div class="user-info">
            👤 {{ user.username }}
        </div>

        <a href="/logout" class="logout-btn">
            Logout
        </a>
    </div>
        <div class="sidebar-top">
            <button id="newChatBtn" class="new-chat-btn">
                + New Chat
            </button>
            <button id="toggleSidebar" class="collapse-btn">
                ☰
            </button>
        </div>

        <div class="chat-history">
            <ul id="chatList"></ul>
        </div>

    </div>

<!-- Main Chat Area -->
    <!-- Main Chat Area -->
    <div class="main">

        <div class="chat-container">

            <!-- Header -->
            <div class="main-header">
                <div class="bot-header">
                    <div class="bot-avatar-wrapper">
                        <img src="https://cdn-icons-png.flaticon.com/512/387/387569.png" class="bot-avatar">
                        <span class="online-dot"></span>
                    </div>

                    <div class="bot-info">
                        <h4>Medical Chatbot</h4>
                        <small>Ask me anything</small>
                    </div>
                </div>
            </div>

            <!-- Messages -->
            <div id="messageFormeight" class="chat-messages"></div>

            <!-- Bottom Input -->
            <div class="chat-input-area">
                <form id="messageArea">
                    <input type="text" id="text" placeholder="Type your message..." required>
                    <button type="submit">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </form>
            </div>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='chat.js') }}"></script>

</body>
</html>